<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home' ] ">Inicio <span class="sr-only ">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href=" ">Pedidos</a>
            </li>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>

        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2 " type="search " placeholder="Search " aria-label="Buscar ">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Buscar</button>
            <button class="btn btn-outline-success my-2 my-sm-0 " type="button " style="margin-left: 10px ">Iniciar Sesión</button>
        </form>
    </div>
</nav>