<hr>
<form autocomplete="off">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Placas</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Placas">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repartidor</label>
        <div class="col-8">

            <input class="form-control" type="text" placeholder="Repartidor">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>