<hr>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Buscar" style="margin-left: 148px; color: black;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left: 20px">Buscar</button>

</form>
<p></p>
<table class="table table-bordered table-dark" style="width: 80%; margin-left: 150px;">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nombre</th>
            <th scope="col">Pedido</th>
            <th scope="col">Dirección</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>papas</td>
            <td>San Ignacio allende</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Juan</td>
            <td>Tortas</td>
            <td>priv 21 marzo</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Saul</td>
            <td>tacos al pastor</td>
            <td>priv 21 marzo</td>
        </tr>
    </tbody>
</table>